/* styles */
/* called by your view template */

.panel {
		height: 100vh;
		width: 100vw;
	}

	.panel.three {
/* 		margin-bottom: 400px; */
    background: #BE2A05;
	}
.panel.two {
/* 		margin-bottom: 400px; */
    background: #364D53;
	}
.panel.one{
/* 		margin-bottom: 400px; */
    background: #BF9A1E;
	}

h1{
  font-size: 2em;
  color: #0467A8;
  font-family: sans-serif;
}
/* .flex{
display: flex;
  flex-direction:column;
  align-content:center;
  justify-content:center;
} */
.chart-js{
 padding: 20%;
}